body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
    }

* {
    box-sizing: border-box;
    }

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

style {
    display: flex;
    align-items: center;
}


/* <!-- heder --> */


.logo{
font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.partlogo-studio{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}
.partlogo-studio:hover{
    color: #404bbf;
}
.partlogo-studio:focus{
    color: #404bbf;
}

.menu {
    align-items: center;
    display: flex;
}

.menu-nav {
    display: flex;
    gap: 8px;
    flex-direction: column;
    background: #fff;
    text-align: center;
    line-height: normal;
    display: flex;
    flex-direction: row;
    gap: 40px;
}



.nav-link {
    background: #fff;
    color: #434455;
    margin-right: 40px;
    text-decoration: none;
}

.nav-link:hover {
    color: #404bbf;
}

.nav-link:focus {
    color: #404bbf;
}

.address{
    font-style: normal;
}

.address-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-link:hover,
.address-link:focus{
color: #404bbf;
}

.menu-address {
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.address-link {
    background: #fff;
    color: #434455;
    margin-right: 40px;
    text-decoration: none;
}


/* <!-- Sektion-1 --> */

.hero-wrap {
    max-width: 496px;
    margin: 0, auto;
    padding-left: auto;
    padding-right: auto;
    padding-top: 188px;
    margin: 0 auto;
}

.hero-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    margin-bottom: 48px;
}

.section-hero {
    height: 600px;
    background: #2e2f42;
    box-sizing: content-box;
}

.button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: #2e2f42;
    color: #fff;
    background-color: #4D5AE5;
    border-radius: 4px;
    border: none;
    margin: 0, auto;
    display: block;
}

.button:hover,
.button:focus {
    background-color: #404BBF;
}




/* <!-- Sektion-2 --> */

.section-benefits {

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip-path: inset(50%);
    white-space: nowrap;
}

.benefits-menu {
    display: flex;
    padding-top: 120px;
    padding-bottom: 160px;
}


.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
    padding-top: 120px;
}

.benefits-list-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.benefits-list-tekst{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}



/* <!-- Sektion-3--> */

.section-team {
    display: flex;
    max-width: 100%;
    height: 732px;
    background-color: #F4F4FD;
}


.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list-item{
    background-color: #FFFFFF;
}

.team-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 24px;
}




/* <!-- Sektion-4--> */

.Portfolio {
    display: flex;

}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-bottom: 120px;
}

.sections-list-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.sections-list-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}








.footer {

    background: #2e2f42;
    max-width: 100%;
    height: 312px;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.partlogo-studio-footer {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.footer-content {
    max-width: 264px;
    padding-top: 100px;
    padding-bottom: 100px;

}